@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: Inter;
}

header{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  padding: 20px 0;
}

.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__img{
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.logo__text{
  font-size: 18px;
  font-weight: 500;
  color: #3a404e;
}

.menu__list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
}

.menu__item{
  color: #667085;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 5px;
  padding-right: 30px;
  margin-right: 10px;
}

.menu__item:hover{
  color:#3a404e;
  cursor: pointer;
  transition: 0.3s;
}

.login__list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  
}

.login__item{
  color: #667085;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 10px;
}

.login__item:hover{
  background-color: #8E2424;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

main{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px auto;
  padding: 20px 0;
}

.about{
  display: inline-block;
  justify-content: center;
  text-align: center;
  padding: 96px 0 96px 0;
}

.section__title{
  color: #8E2424;
  font-size: 14px;
  font-weight: 600;
}

.section__subtitle{
  color: #101828;
  font-size: 48px;
  font-weight: 600;
}

.section__text{
  color: #667085;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.rate{
  display: flex;
  padding: 0px 0px 96px 0px;
}

.rate__box{
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 280px;
  height: 168px; 
}

.rate__data{
  color: #8E2424;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
}

.rate__title{
  color: #101828;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.rate__txt{
  color: #667085;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.banner{
  display: inline-block;
  justify-content: center;
  text-align: center;
  gap: 64px;
  padding: 48px 0 96px 0;
}

.banner__title-content{
  margin-bottom: 64px;
}

.banner__background{
  background-color: rgba(142,36,36,0.05);
  width: 125px;
  height: 28px;
  border-radius: 16px;
  display: inline-block;
  padding: 10px 12px 2px 12px;
  align-items: center;
  justify-content: center;
}

.banner__subtitle{
  color: #101828;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.banner__txt{
  color: #667085;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.banner__img{
  width: 90%;
  height: 400px;
}

.position{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 32px;
  margin: 0 20%;
  gap: 64px;
}

.position__box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.position__box-title{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #101828;
}

.position__content{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;  
  padding: 10px 24px 28px 24px;
  border: 1px solid #EAECF0;
  border-radius: 16px;
  width: 786px;
  height: 136px;  
}

.position__title{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}

.position__data{
  display: flex;
  gap: 24px;
}

.position__data-tipe, .position__data-wage{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #667085;
}








